:root{
    --primaryColor: rgb(22, 0, 83);
    --secundaryColor: rgb(5, 1, 32);
}
body{
    margin: 0;
    background-color: var(--secundaryColor);
    font-family: cursive;
    color: white;
}
header{
    margin: 0.5rem;
    border-radius: 10px;
    background-color: var(--primaryColor);
    height: 3rem;
    display: flex;
    align-items: center;
}
.logo{
    height: 2.5rem;
    margin: 0 0 0 0.5rem;
    width: 2.5rem;
    border-radius: 100rem;
}
.title{
    margin: 0 52rem 0 1rem;
}
.menu{
    color: white;
    text-decoration: none;
    padding: 1rem;
}
.sliderImg{
    border-radius: 15px;
    height: 500px;
    width: 800px;
}
ul, li{
    list-style:none;
    margin: 0 7rem ;
}
.slideItem{
    position:absolute;
    opacity: 0;
    transition: opacity 0.5s;
}
.slideItem:first-child{
    opacity: 1;
}
.slideItem:target{
    opacity: 1;
}
.left{
    background-color: var(--primaryColor);
    margin: 15rem 0 0 13rem ;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    border-color: white;
}
.right{
    background-color: var(--primaryColor);
    margin: 15rem 0 0 51rem;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    border-color: white;
}
.side{
    color: white;
    border-radius: 100%;
    font-size: 200%;
    font-weight: 900;
}
::-webkit-scrollbar {
    background-color: white;
    width: 10px;
    height: 10px;
    border-radius: 10px;
}
h3{
    margin: 0.5rem 0 0.5rem 0.5rem;
}
h5{
    margin: 0 0.5rem 0 0.6rem;
    text-align: center;
}
.contenedor{
    padding: 1%;
    display: flex;
    overflow-y: auto;
}
.template{
    background-color: aqua;
}
.img{
    height: 15rem;
    display: flex;
    margin: 8px;
    width: 10.5rem;
    border-radius: 5px;
}
.nameMovie{
    text-align: center;
}
.form{
    background-color: gray;
    margin: 5rem 0 0 28rem;
    width: 28rem;
    height: auto;
    border-radius: 15px;
}
.h2form{
    text-align: center;
}
label{
    margin: 0 0 0 4rem;
}
input{
    margin-top: 5px;
    border-radius: 10px;
    width: 14rem;
    height: 1.5rem;
    font-family: cursive;
    font-size: medium;
}
textarea{
    font-family: cursive;
    border-radius: 10px;
    height: 25px;
    min-block-size: 20px;
    max-block-size: 200px;
    max-inline-size: 325px;
    min-inline-size: 325px;
}
.enviar{
    font-size: medium;
    border-radius: 10px;
    height: 2rem;
    width: 7rem;
    margin: 0 0 0.5rem 10rem;
}
.list{
    border: 0;
    color: white;
    background-color: transparent;
}
.detalleContainer{
    background-color: var(--primaryColor);
    margin: 2.5rem 20rem;
    border: solid white;
    border-radius: 15px;
}
.detalleNombre{
    text-align: center;
    margin: 0.5rem;
}
.detalleImg{
    height: 30rem;
    margin: 0 25%;
    border-radius: 5px;
}
.detalleDescripcion{
    margin: 0.5rem 3rem;
}
.detalleH3, .detalleDuracion{
    margin-left: 1rem;
}